

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

node_modules
.env
!.env.template
coverage
coverage.json
typechain
typechain-types
.DS_Store

# Hardhat files
cache
artifacts
abis/